<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Todos Ayudando Unidos S.C.</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaNino</servlet-name>
        <servlet-class>AltaNino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaInscripcion</servlet-name>
        <servlet-class>AltaInscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHorario</servlet-name>
        <servlet-class>AltaHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaHistoriaClinica</servlet-name>
        <servlet-class>AltaHistoriaClinica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTutor</servlet-name>
        <servlet-class>AltaTutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPersonal</servlet-name>
        <servlet-class>AltaPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEvento</servlet-name>
        <servlet-class>AltaEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaNino</servlet-name>
        <url-pattern>/AltaNino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaInscripcion</servlet-name>
        <url-pattern>/AltaInscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHorario</servlet-name>
        <url-pattern>/AltaHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaHistoriaClinica</servlet-name>
        <url-pattern>/AltaHistoriaClinica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTutor</servlet-name>
        <url-pattern>/AltaTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPersonal</servlet-name>
        <url-pattern>/AltaPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEvento</servlet-name>
        <url-pattern>/AltaEvento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
